* {
  margin: 0;
}
#sidebar {
  width: 15%;
  background-color: #c88484;
  overflow: visible;
}

.photo {
  width: 70%;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

#name {
  width: auto; /* 248px */
  height: auto; /* 77px */
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
